/*^============> Variables <============*/
:root {
  /* ? ######## Colors */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-grey: #eee;
  /* ? ######## Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  /* ? ######## Animation options */
  --animation-duration: 400ms;
}

:root:has(.mode:checked) {
  --primary-hue: 50;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-secondary: #fff;
  --color-light-grey: #202020;
}
:root:has(.mode:checked) body {
  background-color: #202020;
}

:root:has(.mode:checked) .mode-group .dark {
  display: none;
}
:root:has(.mode:checked) .mode-group .light {
  display: block;
}

/*^============> Mode <============*/
.mode-group i {
  cursor: pointer;
  font-size: 25px;
}

.mode-group .light {
  display: none;
}
/*^============> General <============*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}

header,
section {
  display: flow-root;
}

.btn {
  --background-color: transparent;
  --color: var(--color-light);
  --padding: 0.3125rem 0.75rem;
  --border-width: 0.125rem;
  --border-color: transparent;
  --border-radius: 1rem;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 16px;

  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),
    color var(--animation-duration);
}

.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

/*^========> Customize Selection Styles <========*/
::selection {
  background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness),
    0.7
  );
  opacity: 0.2;
  color: var(--color-light);
}
/*^========> Container <========*/
.container {
  --padding: 40px 5px;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-inline: auto;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  width: 100%;
  padding: var(--padding);
}

:is(header) .container {
  --margin-top: 95px;
}

:is(section) .container {
  --margin-top: 50px;
  --margin-bottom: 50px;
}
/*^============> Reusable Classes <============*/

.section-bg {
  background-color: var(--color-light-grey);
}

.btn-main {
  --background-color: var(--color-primary);
  --hover-bg-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 5%)
  );
  --hover-color: var(--color-light);
  --padding: 6px 18px;
  --font-size: 15px;
  --border-radius: 100vh;
}

.main-title {
  text-align: center;
  margin-bottom: 25px;
}

.main-title h2 {
  color: #7f7f90;
  font-weight: 400;
  font-size: 14px;
}

.main-title p {
  font-size: 50px;
  font-family: var(--font-primary);
}

.main-title span {
  color: var(--color-primary);
}
/*?============> Navbar <============*/
nav {
  background-color: var(--color-light);
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 14px 0px #0000001b;
}

nav .container {
  --padding: 25px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .logo {
  font-size: 30px;
  font-family: var(--font-default);
}

nav .logo::after {
  content: ".";
  color: var(--color-primary);
}

nav .nav-links {
  --inline-gap: 15px;
  --block-gap: 5px;
  display: flex;
  font-size: 17px;
  color: #7f7f90;
  font-weight: 600;
}

nav .nav-links .close-icon {
  display: none;
  width: fit-content;
  align-self: flex-end;
  font-size: 22px;
}

nav:has(.nav-links:target) {
  height: 100%;
  background-color: hsl(var(--color-light), 0.7);
}

nav .nav-links:target {
  transform: translateX(0);
}

nav .nav-links a {
  padding: var(--block-gap) var(--inline-gap);
  position: relative;
  transition: color var(--animation-duration);
}
/* !============> Testing */
body:has(.home:target) li a[href="#home"],
body:has(.contact:target) li a[href="#contact"],
body:has(.chefs:target) li a[href="#chefs"] {
  color: #000;
}
body:has(.home:target) li a[href="#home"]::before,
body:has(.contact:target) li a[href="#contact"]::before,
body:has(.chefs:target) li a[href="#chefs"]::before {
  width: calc(100% - (var(--inline-gap) * 2));
}
/* !============> End Testing */

nav .nav-links a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: var(--inline-gap);
  width: 0px;
  height: 2px;
  background-color: var(--color-primary);
  transition: width var(--animation-duration);
}

nav .nav-links a:hover,
a.active {
  color: #000;
}

nav .nav-links a:hover::before,
nav a.active::before {
  width: calc(100% - (var(--inline-gap) * 2));
}

nav .menu-icon {
  cursor: pointer;
  font-size: 25px;
  display: none;
}

/*?============> Header <============*/
header {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .container > * {
  width: 40%;
}

.header-content h2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 65px;
}

.header-content p {
  margin-block: 20px;
  line-height: 1.6;
  font-size: 16px;
  color: #4f4f5a;
}

.header-content .btn-group {
  display: flex;
  align-items: center;
  gap: 40px;
}

header .btn-main {
  --padding: 10px 25px;
  --border-radius: 0px 100vh 100vh;
}

.header-content .video-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color var(--animation-duration);
}

.video-btn:hover {
  color: var(--color-primary);
}

.video-btn .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0 50%,
    transparent 50% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
}

.video-btn .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  width: 40px;
  height: 40px;
  border-radius: inherit;
}

.video-btn .icon i {
  z-index: 5;
}

picture img {
  width: 100%;
}

/*?============> Chefs <============*/
.chefs-cards {
  --gap: 30px;
  padding-block: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.chefs-cards .card {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  background-color: var(--color-light);
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: scale var(--animation-duration);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.chefs-cards .card:hover {
  scale: 1.07;
}

.chefs-cards .card picture {
  width: 100%;
  position: relative;
}

.chefs-cards .card img {
  width: 100%;
}

.chefs-cards .card picture:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/team-shape.svg");
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
}

.chefs-cards .card-content {
  padding: 25px;
  padding-top: 10px;
}

.chefs-cards .card span {
  font-size: 14px;
  color: #7f7f90;
  margin-block: 5px 10px;
}

.chefs-cards .card p {
  font-size: 15px;
  font-style: italic;
  color: #7f7f90;
}

.chefs-cards .social-box {
  background-color: #ffffff4d;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: -50px;
  transition: right calc(var(--animation-duration) / 2);
}

.chefs-cards .card:hover .social-box {
  right: 10px;
  transition: right var(--animation-duration) var(--animation-duration);
}

.chefs-cards .social-box i {
  font-size: 18px;
  padding: 10px 5px;
  color: #37373f66;
  transition: color var(--animation-duration);
}

.chefs-cards .social-box i:hover {
  color: #37373fe6;
}

/*?============> Contact <============*/
.contact iframe {
  width: 100%;
  height: 350px;
}

.contact .details {
  --gap: 15px;
  margin-block: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contact .details > div {
  width: calc(calc(100% - var(--gap)) / 2);
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: hsl(
    var(--light-hue),
    var(--light-saturation),
    calc(var(--light-lightness) - 4%)
  );
}

.contact .details > div h3 {
  color: #6c757d;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact .details .icon {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contact .details .icon i {
  color: var(--color-light);
  font-size: 18px;
}

.contact form {
  --gap: 15px;
  background-color: var(--color-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px #00000014;
  gap: var(--gap);
}

.contact form > * {
  width: 100%;
}

.contact form :is(input, textarea) {
  padding: 0.9375rem 0.9375rem;
  font-family: inherit;
  line-height: 1.5;
  border: 2px solid
    hsl(
      var(--light-hue),
      calc(var(--light-saturation) + 10%),
      calc(var(--light-lightness) - 10%)
    );
  color: #212529;
  transition: border-color var(--animation-duration);
}

.contact form :is(input, textarea):focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact form .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contact .input-group input {
  width: calc(calc(100% - var(--gap)) / 2);
}

.contact form textarea {
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

.contact form button[type="submit"] {
  --padding: 12px 40px;
  margin-top: 25px;
  width: fit-content;
  font-family: inherit;
}
